.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  gap: 20px;
}

.card:hover {
  scale: 1.01;
  transition: scale 0.4s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
